@model StudentEditVM

@{
    ViewData["Title"] = "Update Student";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2 class="text-primary text-center">Update Student Infornmation</h2> 
<form style="zoom:80%" method="post" asp-action="EditStudentInfo"> 
    <div class="row">
        <div class="border p-3 row">
            <div class="col-12 pb-2">
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="StudentNo"></label>
                <input asp-for="StudentNo" class="form-control" />
                <span asp-validation-for="StudentNo" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Gender" class="control-label"></label>
                <select class="form-control" asp-for="Gender" asp-items="@ViewBag.Gender"></select>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Birthday"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="mb-3 col-6">
                <label class="control-label">Picture</label>
                <input class="form-control" type="file" name="userPicture"/>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary mt-2" style="width:150px">Save</button>
            </div>
        </div>
    </div>
</form>


@*Client Side Validation*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
