

@{
    ViewData["Title"] = "Contact Me";
}

<div class="card">
    <img class="img-card" src="~/UserPictures/profilePicture.jpg" alt="Onur-img">
    <h1>Onur Derman</h1>
    <p class="badge bg-light">+90-506-694-3663 --- onrdrmn@gmail.com</p>   
    <p class="badge bg-info">C# - .NET Core</p>
    <p class="badge bg-info">ASP.NET Core MVC - Web API</p> 
    <p class="badge bg-info">Entity Framework Core  -  SQL Server</p>
    <p class="badge bg-info">Javascript  -  HTML  -  CSS</p>
</div>